<div class="flex items-start gap-10 w-full">
    <div class="p-5 border border-gray-900 w-full">
        <div class="flex flex-col mb-6">
            <label for="account">Account number: </label>
            <div class="flex items-center gap-4 mt-4">
                <input type="text" name="type" id="account" class="w-full p-2 border rounded">
                <button class="px-4 py-2 rounded-md bg-gray-300 text-black">Search</button>
            </div>
        </div>

        <div class="p-3 flex flex-col justify-between border border-gray-900 bg-white rounded-md h-[250px] w-full">
            <div class="flex items-center justify-between">
                <h3>Credit card</h3>
                <h3>VISA</h3>
            </div>
            <div>
                <p>1234567890</p>
                <p>John Peter</p>
            </div>
        </div>

        <div class="mt-6">
            <div class="flex items-center">
                <p class="pe-3">Card type: </p>
                <span>Saving</span>
            </div>
        </div>
    </div>

    <div class="w-full border border-gray-900">
        <h2 class="text-center py-5 border-b border-b-gray-300 text-lg text-blue-500">Change card PIN</h2>
        <div class="px-32 py-8">
            <div class="mb-4">
                <label for="account" class="block mb-2">Account number</label>
                <input type="text" name="account" id="account" class="w-full p-2 border rounded">
            </div>
            <div class="mb-4">
                <label for="pin_old" class="block mb-2">Enter Old PIN</label>
                <input type="text" name="account" id="pin_old" class="w-full p-2 border rounded">
            </div>
            <div class="mb-4">
                <label for="pin_new" class="block mb-2">Enter new PIN</label>
                <input type="text" name="account" id="pin_new" class="w-full p-2 border rounded">
            </div>
            <button class="mt-8 px-4 py-2 rounded-md bg-blue-500 text-black w-full">Change PIN</button>
        </div>
    </div>

</div>