<p class="mb-8">Today: </p>
<hr class="bg-gray-500">
<div class="mt-6 max-w-2xl flex items-center gap-3 text-nowrap">
    <label for="account">Account number</label>
    <input type="text" name="account" id="account" class="w-full p-2 border rounded">
    <button class="px-4 py-2 rounded-md bg-gray-300 text-black">Search account</button>
</div>
<div class="mt-8 px-32 py-8 bg-blue-950 w-full text-white">
    <div class="flex items-center justify-center mb-5">
        <img
                src="./assets/bank_78392.png"
                alt="bank logo"
                width="50px"
                height="50px"
        >
    </div>
    <div>
        <h1 class="text-xl pb-4 border-b border-b-gray-300">NISHIMWE RUKUNDO Prosper</h1>
        <div class="max-w-4xl mx-auto mt-5 flex flex-col gap-3">
            <div class="flex items-center gap-4">
                <h3 class="w-50">Account number</h3>
                <p>29382938429384729348729</p>
            </div>
            <div class="flex items-center gap-4">
                <h3 class="w-50">Account number</h3>
                <p>29382938429384729348729</p>
            </div>
            <div class="flex items-center gap-4">
                <h3 class="w-50">Account number</h3>
                <p>29382938429384729348729</p>
            </div>
            <div class="flex items-center gap-4">
                <h3 class="w-50">Account number</h3>
                <p>29382938429384729348729</p>
            </div>
        </div>
    </div>
</div>